<ul class="links">
  <% links.each do |link| %>
    <li class="links-item">
      <a href="<%= link.normalized_url %>">
        <h3><%= link.title %></h3>
        <br />
        <small><%= link.normalized_url %></small>
    </li>
  <% end %>
</ul>
